<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataplatform.mapper.OperationReportMapper">

    <select id="findByDateRange"
            resultType="com.dataplatform.model.OperationReport">
        SELECT * FROM `operation_report` WHERE report_date BETWEEN #{startDate} AND #{endDate}
    </select>

</mapper>