<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataplatform.mapper.ProductStatMapper">

    <select id="findTopByCategory"
            resultType="com.dataplatform.model.ProductStat">
        SELECT * FROM `product_stat`
        WHERE category = #{category}
        ORDER BY sale_count DESC
        LIMIT #{limit}
    </select>

</mapper>
